@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  text-indent: 0;
  padding: 0;
}

.bg-dark {
  background-color: rgb(36, 37, 38);
}

.border-dark-lighten {
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: white;
  /* border-color: rgb(58 59 60 / var(--tw-border-opacity)); */
}
